@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100;300;400;700&display=swap');

h1 {
	font-family: "Times", serif;
	font-weight: bold;
	color: #000;
}
h5, p {
	font-family: "Noto Serif Georgian", serif;
	font-weight: bold;
	color: #000;
}
p {
	font-weight: normal;
	line-height: 1.4rem;
	color: #5a5a5a;
}
ion-icon {
	width: 20px;
    height: 20px;
}
.ck-editor__editable_inline {
    min-height: 150px;
}
.btn-primary, .btn-danger {
    background-color: #6a4e95;
    border-color: #6a4e95;
}
.btn-primary:hover, .btn-danger:hover  {
    background-color: #503874;
    border-color: #503874;
}
.btn-primary:focus, .btn-danger:focus {
    background-color: #6a4e95;
	border-color: #6a4e95;
    outline: none!important;
    box-shadow: none!important;
}
/*header*/
.navbar {
	width: 100%;
	background: #fff;
	padding: 10px 0 10px 5%!important;
}
.navbar-brand img {
	width: 6%;
}
.navbar-buttons {
	text-align: right;
	padding-right: 5%;
}
li.dropdown {
	list-style: none;
}
.dropdown-menu {
	right: 0;
}
.date-info {
	font-size: 12px;
	font-weight: bold;
}
#btnLogin {
	display: flex;
	justify-content: end;
}
#btnLogin span {
	display: flex;
	align-items: center;
}
/*home*/
.home-wrapper {
	padding: 70px 5%;
}
.cms-title {
	text-align: center;
	margin-top: -35px;
}
.cms-title h1 {
	font-size: 53px;
    letter-spacing: -2px;
}
.posts-wrapper {
	justify-content: flex-start;
}
.card {
	width: 32%!important;
	margin: 20px 7px 15px 7px;
}
.image-link {
	overflow: hidden;
}
.card-img, .single-post-img {
	height: 320px;
	background-size: cover!important;
    background-repeat: no-repeat!important;
}
.card-img:hover {
	scale: 103%;
	transition: all 0.2s ease-out;
}
.post-link {
	text-decoration: none;
}
.post-link h5:hover {
	color: #636363;
}
.divider {
	margin-top: -12px;
}
.alert-danger {
	width: 92%;
}
#divAlert, #divAlert02 {
	justify-content: center;
	margin: 10px 0 -20px;
}
.invalid {
	border-color: red!important;
}
#loginTitle {
	margin-left: 14%;
}
#loginForm input {
	padding: 10px 3%;
}
#btnLogin02 {
	width: 100%;
	padding: 10px 0;
	margin: 10px auto 20px;
}
/*single post*/
.single-post-wrapper {
	padding: 60px 22% 80px;
}
.single-post-wrapper h1 {
	font-size: 45px;
	margin-bottom: 30px;
}
.single-post-wrapper p, 
.single-post-wrapper li {
	font-size: 20px;
	line-height: 30px;
}
.single-post-wrapper li {
	font-size: 18px;
}
.single-post-wrapper .row {
	justify-content: center;
}
.single-post-img {
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}
.icons {
    justify-content: start!important;
    margin-top: 10px;
    margin-bottom: 40px;
}
.icons div {
	width: auto;
	display: flex;
	align-items: center;
	border: 1px solid #c1c1c1;
    padding: 13px 16px;
    border-radius: 50px;
    margin: 0 1%;
}
.icons div:first-child ion-icon {
	margin-right: 5px;
}
p:has(> iframe) {
  	text-align: center;
  	padding: 30px 0;
}
/*dashboard*/
.dashboard-wrapper {
	min-height: 100vh;
	padding: 50px 12%;
}
.top-content {
	display: flex;
}
.top-content-left {
    display: flex;
}
.top-content-left i {
	font-size: 22px;
}
.top-content-left h3 {
	font-family: "Open Sans", serif;
    font-size: 30px;
    margin-left: 15px;
}
.top-content-right {
    text-align: right;
}
.top-content-left span {
	display: flex;
	align-items: center;
}
.top-content-left ion-icon {
	width: 23px;
	height: 23px;
	margin-right: -5px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link {
	border: none;
}
.nav-tabs .nav-link:hover {
	background: #ececec;
	outline: none;
}
.nav-tabs .nav-link.active {
	border: none;
	border-bottom: 4px solid #8562bb;
}
.thumbnail {
	width: 50%;
}
.form-group {
	margin-bottom: 18px;
}
/*not found page*/
#notfound {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25%;
}
.notfound {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notfound-500 {
    width: 200px;
    height: 200px;
    position: relative;
    background-image: url('../img/robot.png');
    background-size: 140% 110%;
    background-position: center;
    background-repeat: no-repeat;
}
.notfound-500:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2.4);
    -ms-transform: scale(2.4);
    transform: scale(2.4);
    border-radius: 50%;
    background-color: #f2f5f8;
    z-index: -1;
}
.notfound-text {
    flex: 1;
    padding: 25px 10% 25px 3%;
    text-align: left;
    line-height: 1.4; 
}
.notfound h2 {
    font-family: Open Sans, sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #151723;
}
.notfound p {
    font-family: Open Sans, sans-serif;
    color: #999fa5;
    font-weight: 400;
}
.notfound a {
    font-family: Open Sans, sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;
    color: #388dbc;
}
/*footer*/
.footer-wrapper {
	background: rgba(248,249,250,1);
	padding: 25px 5%;
}
.author {
	color: #6a4e95;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.navbar {
		text-align: center;
		justify-content: center;
		padding: 30px 0 20px 5% !important
	}
	.navbar-brand {
		text-align: center;
	}
	.navbar-brand img {
		width: 12%;
	}
	.logout {
	    padding-right: 0;
	    margin-right: 0;
	}
	.card {
		width: 100%!important;
	}
	#loginTitle {
	    margin-left: 20%;
	}
	.dashboard-wrapper {
	    padding: 50px 7%;
	}
	#tableResult_wrapper {
		overflow-x: scroll;
	}
	.single-post-wrapper {
	    padding: 60px 6%;
	}
	iframe {
    	width: 95%;
    }
	.notfound-500 {
        width: 110px;
        height: 110px;
    }
}
